page-home {

} 

.home-page {
  background-color: lightgray;
}

.authenticate-list {

  ion-list-header {
    font-size: 2rem;
    text-align: center;
    padding: 0;

    ion-label {
      margin-top: 0;
    }
  }
}

.google-sign-in {
  color: white;
  border-bottom: none;
  border: none;
}

.authentication {
  border: none;
}

.github-sign-in {
  color: white;
  margin: 10px 0;
}

.authentication-name {
  text-align: center;
}
